# Django Settings
SECRET_KEY=django-insecure-df19l(!9e7@fqmn-wa$owgez#yp9kb^z8-u8*@3e0i5j$d!tm$
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (Future PostgreSQL)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=key_system_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432
