# --------------------------------------------------------
# 🔧 SGAF PORTABLE - CONFIGURACIÓN DE ENTORNO
# --------------------------------------------------------

# Seguridad
DEBUG=False
SECRET_KEY=cambiar-esto-por-una-clave-segura
ALLOWED_HOSTS=localhost,127.0.0.1,TU_IP_AQUI

# Base de Datos (Si comentas esto, usará SQLite automáticamente para desarrollo)
DB_NAME=sgaf_db
DB_USER=sgaf_user
DB_PASSWORD=sgaf_pass_secret
DB_HOST=db
DB_PORT=5432

# CORS & CSRF (Indica dónde estará el navegador del usuario)
# Ejemplo: http://10.0.100.119,http://portal.empresa.cl
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://localhost

# Correo (SMTP Gmail u otro)
EMAIL_HOST_USER=tu-correo@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password
RESERVAS_ADMIN_EMAIL=admin@empresa.cl

# Puertos (Docker)
FRONTEND_PORT=80
